radiative.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	elementFormDefault="qualified" attributeFormDefault="unqualified"
	xmlns="http://xsams.svn.sourceforge.net/viewvc/xsams/branches/vamdc-working"
	targetNamespace="http://xsams.svn.sourceforge.net/viewvc/xsams/branches/vamdc-working">
	
	<xs:include schemaLocation="./typesAttributes.xsd"/>
	<xs:element name="Radiative" type="RadiativeType">
		<xs:annotation>
			<xs:documentation>Radiative transitions (both emission and absorption)</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="RadiativeType">
		<xs:complexContent>
			<xs:extension base="PrimaryType">
				<xs:sequence>
					<xs:element name="CrossSection" type="CrossSectionType" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Absorption cross section data</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="RadiativeTransition" type="RadiativeTransitionType" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Description of a specific radiative transition</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="RadiativeTransitionType">
		<xs:complexContent>
			<xs:extension base="PrimaryType">
				<xs:sequence>
					<xs:element name="EnergyWavelength" type="EnergyWavelengthType">
						<xs:annotation>
							<xs:documentation>List of energy/spectrum parameters</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="InitialStateRef" type="StateRefType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Reference to the initial state</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="FinalStateRef" type="StateRefType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Reference to the final state</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="SpeciesRef" type="SpeciesRefType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Reference to specie</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Probability" type="RadiativeTransitionProbabilityType" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Radiative transition probability and related parameters</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Broadenings" type="BroadeningsType" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Description of line broadening processes and related parameters</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Shiftings" type="ShiftingsType" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Description of line shifting processes and related parameters</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="RadiativeTransitionProbabilityType">
		<xs:annotation>
			<xs:documentation>spontaneous transition probability, or Einstein coefficient</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="PrimaryType">
				<xs:sequence>
					<xs:element name="TransitionProbabilityA" type="DataType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Transition probability (Einstein coefficient)</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="OscillatorStrength" type="DataType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Oscillator strength</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="LineStrength" type="DataType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Line strength</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="WeightedOscillatorStrength" type="DataType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Weighted oscillator strength</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Log10WeightedOscillatorStrength" type="DataType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Log10 of the weighted oscillator strength</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="IdealisedIntensity" type="DataType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Line intensity for some specific conditions.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Multipole" type="MultipoleType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Transition multipole type. Example: E2</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="EffectiveLandeFactor" type="DataType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Effective Lande factor for transition</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	
	<xs:complexType name="EnergyWavelengthType">
		<xs:complexContent>
			<xs:extension base="PrimaryType">
				<xs:sequence>
					<xs:element name="Wavenumber" type="DataType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Transition wavenumber</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Wavelength" type="DataType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Transition wavelength</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Energy" type="DataType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Transition energy</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Frequency" type="DataType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Transition frequency</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="MultipoleType">
		<xs:annotation>
			<xs:documentation>Radiative transition multipole</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="(E|M)[1-9]\d*"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:complexType name="BroadeningsType">
		<xs:annotation>
			<xs:documentation>Description of line broadening processes and related parameters</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="PrimaryType">
				<xs:sequence>
					<xs:element name="Broadening" type="BroadeningType" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Broadening line shape description</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	
	<xs:complexType name="BroadeningType">
		<xs:annotation>
			<xs:documentation>Specific broadening mechanism description.
				In sourceRef </xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="PrimaryType">
				<xs:sequence>
					<xs:element name="Lineshape" type="LineshapeType" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
				<xs:attribute name="name" type="xs:string" use="required">
					<xs:annotation>
						<xs:documentation>Broadening name</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="envRef" type="EnvironmentRefType"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	
	<xs:complexType name="LineshapeType">
		<xs:complexContent>
			<xs:extension base="PrimaryType">
				<xs:sequence>
					<xs:element name="LineshapeParameter" type="DataFuncType" minOccurs="1" maxOccurs="unbounded"/>
				</xs:sequence>
				<xs:attribute name="name" type="xs:string"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	
	<xs:complexType name="ShiftingsType">
		<xs:annotation>
			<xs:documentation>Description of line shifting processes and related parameters</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="PrimaryType">
				<xs:sequence>
					<xs:element name="Shifting" type="ShiftingType" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Shifting description</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	
	<xs:complexType name="ShiftingType">
		<xs:annotation>
			<xs:documentation>Description of line shifting processes and related parameters</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="PrimaryType">
				<xs:sequence>
					<xs:element name="ShiftingParameter" type="DataFuncType" minOccurs="1" maxOccurs="unbounded"/>
				</xs:sequence>
				<xs:attribute name="name" type="xs:string"/>
				<xs:attribute name="envRef" type="EnvironmentRefType"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	
	<xs:complexType name="CrossSectionType">
		<xs:complexContent>
			<xs:extension base="SimpleDataTableType">
				<xs:sequence>
					<xs:element name="SpeciesRef" type="SpeciesRefType" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Reference to a specific species</xs:documentation>
						</xs:annotation>
					</xs:element> 
					<xs:element name="BandAssignment" type="BandAssignmentType" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
				<xs:attribute name="envRef" type="EnvironmentRefType" use="optional"/>
				<xs:attribute name="id" type="xs:ID"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	
	<xs:complexType name="BandAssignmentType">
		<xs:complexContent>
			<xs:extension base="PrimaryType">
				<xs:sequence>
					<xs:element name="BandCentre" type="DataType" minOccurs="0" maxOccurs="1"/>
					<xs:element name="BandWidth" type="DataType" minOccurs="0" maxOccurs="1"/>
					<xs:sequence>
						<xs:element name="Modes" type="ModesType" minOccurs="0" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:sequence>
				<xs:attribute name="name" type="xs:string"/>
			</xs:extension>                
		</xs:complexContent>
	</xs:complexType>
	
	<xs:complexType name="ModesType">
		<xs:complexContent>
			<xs:extension base="PrimaryType">
				<xs:sequence>
					<!--<xs:element name="DeltaV" type="xs:nonNegativeInteger" minOccurs="0" maxOccurs="unbounded"/>-->
					<xs:element name="DeltaV" minOccurs="0" maxOccurs="unbounded">
						<xs:complexType>
							<xs:simpleContent>
								<xs:extension base="xs:nonNegativeInteger">
									<xs:attribute name="modeID" type="normalModeRefType"/>
								</xs:extension>
							</xs:simpleContent>
						</xs:complexType>
					</xs:element>
				</xs:sequence>                    
				<xs:attribute name="name" type="xs:string"/>
			</xs:extension>                
		</xs:complexContent>
	</xs:complexType>
	
</xs:schema>
