statesMolecules.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="unqualified" attributeFormDefault="unqualified">
        <xs:include schemaLocation="typesAttributes.xsd"/>
        <xs:element name="Molecules" type="MoleculesType">
                <xs:annotation>
                        <xs:documentation>Molecules or molecular ions</xs:documentation>
                </xs:annotation>
        </xs:element>
        <!-- complex types  -->
        <xs:complexType name="AtomArrayType">
                <xs:sequence maxOccurs="unbounded">
                        <xs:element name="AtomN" type="AtomNType"/>
                </xs:sequence>
        </xs:complexType>
        <xs:complexType name="AtomNType">
                <xs:complexContent>
                        <xs:extension base="PrimaryType">
                                <xs:attribute name="nuclearSpinID" type="xs:ID"/>
                                <xs:attribute name="elementSymbol" type="ElementSymbolType"/>
                                <xs:attribute name="isotope" default="xs:positiveInteger"/>
                                <xs:attribute name="charge" type="xs:integer"/>
                                <xs:attribute name="nuclearSpin" type="AngularMomentumType"/>
                                <xs:attribute name="hydrogenCount" type="xs:nonNegativeInteger"/>
                                <xs:attribute name="count" type="xs:positiveInteger"/>
                        </xs:extension>
                </xs:complexContent>
        </xs:complexType>
        <xs:complexType name="BondType">
                <xs:attribute name="atomRefs2" type="xs:IDREFS"/>
                <xs:attribute name="order" type="xs:string"/>
        </xs:complexType>
        <xs:complexType name="BondArrayType">
                <xs:sequence maxOccurs="unbounded">
                        <xs:element name="Bond" type="BondType"/>
                </xs:sequence>
        </xs:complexType>
        <xs:complexType name="CentralSymbolType">
                <xs:simpleContent>
                        <xs:extension base="xs:string">
                                <xs:attribute name="UpperLeftValue" type="xs:string"/>
                                <xs:attribute name="LowerLeftValue" type="xs:string"/>
                                <xs:attribute name="UpperRightValue" type="xs:string"/>
                                <xs:attribute name="LowerRightValue" type="xs:string"/>
                        </xs:extension>
                </xs:simpleContent>
        </xs:complexType>
        <xs:complexType name="MolecularChemicalSpeciesType">
                <xs:sequence>
                        <xs:element name="OrdinaryStructuralFormula" type="ReferencedTextType"/>
                        <xs:element name="StoichiometricFormula" type="xs:string"/>
                        <xs:element name="IonCharge" type="xs:integer" minOccurs="0"/>
                        <xs:element name="ChemicalName" type="ReferencedTextType" minOccurs="0"/>
                        <xs:element name="IUPACName" type="ReferencedTextType" minOccurs="0"/>
                        <xs:element name="URLFigure" type="xs:anyURI" minOccurs="0"/>
                        <xs:element name="InChI" type="xs:string" minOccurs="0">
                                <xs:annotation>
                                        <xs:documentation>Standard InChI identifier</xs:documentation>
                                </xs:annotation>
                        </xs:element>
                        <xs:element name="InChIKey" type="xs:string" minOccurs="1">
                                <xs:annotation>
                                        <xs:documentation>Standard InChI key</xs:documentation>
                                </xs:annotation>
                        </xs:element>
                        <xs:element name="CASRegistryNumber" type="ReferencedTextType" minOccurs="0"/>
                        <xs:element name="CNPIGroup" type="SymbolType" minOccurs="0"/>
                        <xs:element name="MoleculeNuclearSpins" type="MoleculeNuclearSpinsType" minOccurs="0"/>
                        <xs:element name="StableMolecularProperties" type="MolecularPropertiesType" minOccurs="0"/>
                        <xs:element name="Comment" type="xs:string" minOccurs="0"/>
                </xs:sequence>
        </xs:complexType>
        <xs:complexType name="MolecularPropertiesType">
                <xs:sequence>
                        <xs:element name="MolecularWeight" type="DataType" minOccurs="0"/>
                        <xs:sequence maxOccurs="unbounded">
                                <xs:element name="OtherProperties" type="CharacterisationType" minOccurs="0"/>
                        </xs:sequence>
                </xs:sequence>
        </xs:complexType>
        <xs:complexType name="MolecularStateType">
                <xs:complexContent>
                        <xs:extension base="PrimaryType">
                                <xs:sequence>
                                        <xs:element name="Description" type="xs:string"/>
                                        <xs:element name="MolecularStateCharacterisation" type="MolecularStateCharacterisationType" minOccurs="0"/>
                                        <xs:element name="Parity" type="ParityType" minOccurs="0"/>
                                        <xs:any namespace="##other" minOccurs="0" maxOccurs="unbounded">
                                                <xs:annotation>
                                                        <xs:documentation>Placeholder for QNs from all namespaces</xs:documentation>
                                                </xs:annotation>
                                        </xs:any>
                                </xs:sequence>
                                <xs:attribute ref="stateID" use="required"/>
                                <xs:attribute name="fullyAssigned" type="xs:boolean" use="optional"/>
                        </xs:extension>
                </xs:complexContent>
        </xs:complexType>
        <xs:complexType name="MolecularStateCharacterisationType">
                <xs:sequence>
                        <xs:element name="StateEnergy" type="StateEnergyType" minOccurs="0"/>
                        <xs:element name="TotalStatisticalWeight" type="xs:positiveInteger" minOccurs="0"/>
                        <xs:element name="NuclearStatisticalWeight" type="xs:positiveInteger" minOccurs="0"/>
                        <xs:element name="NuclearSpinIsomer" type="xs:string" minOccurs="0"/>
                        <xs:element name="LifeTime" type="DataType" minOccurs="0"/>
                        <xs:element name="Parameters" type="CharacterisationType" minOccurs="0" maxOccurs="unbounded"/>
                        <xs:element name="FracPop296" type="xs:double" minOccurs="0"/>
                </xs:sequence>
        </xs:complexType>
        <xs:complexType name="MoleculeType">
                <xs:complexContent>
                        <xs:extension base="PrimaryType">
                                <xs:sequence>
                                        <xs:element name="MolecularChemicalSpecies" type="MolecularChemicalSpeciesType"/>
                                        <xs:element name="MolecularState" type="MolecularStateType" maxOccurs="unbounded"/>
                                </xs:sequence>
                                <xs:attribute ref="speciesID" use="required"/>
                        </xs:extension>
                </xs:complexContent>
        </xs:complexType>
        <xs:complexType name="MoleculeNuclearSpinsType">
                <xs:sequence>
                        <xs:element name="AtomArray" type="AtomArrayType"/>
                        <xs:element name="BondArray" type="BondArrayType" minOccurs="0"/>
                </xs:sequence>
        </xs:complexType>
        <xs:complexType name="MoleculesType">
                <xs:complexContent>
                        <xs:extension base="PrimaryType">
                                <xs:sequence>
                                        <xs:element name="Molecule" type="MoleculeType" maxOccurs="unbounded"/>
                                </xs:sequence>
                        </xs:extension>
                </xs:complexContent>
        </xs:complexType>
        
        <xs:complexType name="SimpleSymbolType">
                <xs:sequence>
                        <xs:element name="CentralSymbol" type="CentralSymbolType"/>
                        <xs:element name="RightCoefficient" type="xs:string"/>
                        <xs:element name="LeftCoefficient" type="xs:string"/>
                </xs:sequence>
        </xs:complexType>
        <xs:complexType name="StateEnergyType">
                <xs:complexContent>
                        <xs:extension base="DataType">
                                <xs:attribute name="energyOrigin" type="xs:string" use="required"/>
                        </xs:extension>
                </xs:complexContent>
        </xs:complexType>
        <xs:complexType name="SymbolType">
                <xs:complexContent>
                        <xs:extension base="PrimaryType">
                                <xs:sequence>
                                        <xs:element name="Symbol" type="SimpleSymbolType" maxOccurs="unbounded"/>
                                        <xs:element name="LatexExpression" type="xs:string" minOccurs="0"/>
                                </xs:sequence>
                        </xs:extension>
                </xs:complexContent>
        </xs:complexType>
        
        <xs:complexType name="ReferencedTextType">
                <xs:complexContent>
                        <xs:extension base="PrimaryType">
                                <xs:sequence>
                                        <xs:element name="Value" minOccurs="1" maxOccurs="1" type="xs:string"/>
								</xs:sequence>
                        </xs:extension>
                </xs:complexContent>
        </xs:complexType>
        
        <xs:complexType name="CharacterisationType">
                <xs:complexContent>
                        <xs:extension base="PrimaryType">
                                <xs:sequence>
                                        <xs:element name="Name" type="xs:string" minOccurs="0"/>
                                        <xs:choice minOccurs="0">
                                                <xs:element name="IntValue" type="xs:integer"/>
                                                <xs:element name="FloatValue" type="xs:float"/>
                                                <xs:element name="StringValue" type="xs:string"/>
                                        </xs:choice>
                                </xs:sequence>
                        </xs:extension>
                </xs:complexContent>
        </xs:complexType>
</xs:schema>

